.d{
  box-sizing: border-box;
  text-decoration: none;
  padding: 20px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
background-color: #fff;
margin-bottom: 30px;
background-color: #1b1b1b;
border-radius: 20px;
overflow-y: visible;
font-size: 30px;
gap: 20px;
}